{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} <link rel="stylesheet" href={% static "css/recipes.css" %}/> {% endcomment %}
  </head>
  <body>
        <header>
        <nav>
            <ul>
              {% if user.is_authenticated %}
         Hello, {{ user.username }} ! <br><br>
         <li><a href="{% url 'create_account' %}">Create an Account</a></li><br>
         <li><a href="{% url 'create_category' %}">Create a Category</a></li><br>
         <li><a href="{% url 'create_receipt' %}">Create a Receipt</a></li><br>
        <li>  <a href="{% url 'home' %}">My Receipts</a></li><br>
        <li> <a href="{% url 'logout' %}">Logout</a></li>
         {% else %}
        <li> <a href="{% url 'signup' %}">Sign Up</a></li><br>
         <li><a href="{% url 'login' %}">Login</a></li>
         {% endif %}
            </ul>
        </nav>
    
    </header>
    {% block content %}{% endblock content %}
    <footer>The Bag© 💰</footer>
  </body>
</html>