{% extends 'base.html' %} {% block title %} Sign Up! {% endblock title %}
{%block content %}
<header>
  <nav>
    <a href="{% url 'home' %}">Main Page</a>
  </nav>
</header>
<main>
    <div>
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>SignUp</button>
  </form>
</div>
</main>
{% endblock content %} {% load static %}
